---
- name: Deprovision the infrastructure
  hosts: controller
  vars_files:
  - '{{ playbook_dir }}/vars/defaults.yml'
  pre_tasks:
  - name: Load the scenario content
    include_vars: '{{ playbook_dir }}/vars/scenario_stubs/{{ item.key }}/{{ item.value }}.yml'
    loop: '{{ scenario_stubs|dict2items }}'
  tasks:

  - name: Uninstall OpenShift
    include_role:
      name: installer
      tasks_from: uninstalled.yml
    vars:
      install_directory: '{{ output_dir }}/install'
      oc_path: '{{ output_dir }}/clients/oc'
      openshift_install_path: '{{ output_dir }}/clients/openshift-install'
      extra_uninstall_env:
        AWS_ACCESS_KEY_ID: '{{ lookup("ini", "aws_access_key_id", section="default", file=(output_dir + "/aws_credentials")) }}'
        AWS_SECRET_ACCESS_KEY: '{{ lookup("ini", "aws_secret_access_key", section="default", file=(output_dir + "/aws_credentials")) }}'

  - name: Destroy the terraform deployment
    include_role:
      name: provisioner
      tasks_from: destroyed.yml
  tags:
  - always
