; https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html

[default]

aws_access_key_id     = {{ installer_aws_access_key_id }}
aws_secret_access_key = {{ installer_aws_secret_access_key }}
