---
# This is recovered from console.redhat.com for OpenShift installation:
# https://console.redhat.com/openshift/install/aws/installer-provisioned
console_redhat_com_pull_secret: {"auths":{"cloud.openshift.com":{"auth":"b3B=","email":"foo@example.com"},"quay.io":{"auth":"b3B=","email":"foo@example.com"},"registry.connect.redhat.com":{"auth":"NTI=","email":"foo@example.com"},"registry.redhat.io":{"auth":"NTI=","email":"foo@example.com"}}}

# The AWS Hosted Zone you will be using for DNS records, and the baseDomain for install-config.yml
cluster_domain: redhat4govaws.io

# The region you want to deploy into
aws_region: us-west-2
