---
# The metadata.name for install-config.yaml, and where all other resources are subdomained
cluster_name: disco
# The version of OpenShift to mirror and install
openshift_version: "4.12"

# The following determine the testing scenario that is run, and can mostly be selected
# independently of each other.

# storage_config_backend
# Determines where the metadata is stored for oc-mirror runs. Local metadata is saved on
# disk on the node running the connected oc-mirror workflows. If registry is selected, the
# "disconnected" registry is pushed to directly from the connected node.
# Options:
#   - local
#   - registry
storage_config_backend: registry

# mirror_directly_to_registry
# Determines whether the connected node pushes the mirror into the registry directly with
# oc-mirror, or whether the imageset is mirrored to disk and hauled over the "airgap" for
# publishing from the disconnected bastion.
# The value should be a yaml boolean
mirror_directly_to_registry: true

# registry_type
# Determines what kind of registry is instantiated for the "disconnected" registry.
# Options:
#   - docker_registry
#   - redhat_quay
#   - mirror_registry
registry_type: mirror_registry

# operators_to_mirror
# Determines which operators should be mirrored, installed, and tested
# Note that some of the operators define a second phase, and those operators will result
#   in a second run of oc-mirror, including some additional validation. The ones that
#   have this second phase are marked with an asterisk below.
# The value should be a list of strings from the following options:
#   - foo *
#   - compliance_operator
operators_to_mirror:
- foo

# imageset_config_override
# Allows you to explicitly override the ImageSetConfiguration file content
# Ensure that you use an empty list for operators_to_mirror to prevent trying to run
#   an operator workflow that won't work with something you've mirrored!
# Example:
# imageset_config_override: |-
#   kind: ImageSetConfiguration
#   apiVersion: mirror.openshift.io/v1alpha2
#   storageConfig:
#     registry:
#       imageURL: {{ oc_mirror_metadata_image }}
#       skipTLS: false
#   mirror:
#     platform:
#       channels:
#       - name: stable-{{ openshift_version }}
#     operators:
#     - catalog: registry.redhat.io/redhat/redhat-operator-index:v{{ openshift_version }}
#       packages:
#       - name: rhods-operator
#         channels:
#         - name: stable
#     additionalImages:
#     - name: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:f5d254b52f95f0874f21a84fb0f997772039bcf25895518e419160ac513f053c
#     - name: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:a8d2a3aff8eb4d3148b9b1555417a82fdd34231b2cb5e4855c138888f832dc99
#     - name: quay.io/modh/cuda-notebooks@sha256:348fa993347f86d1e0913853fb726c584ae8b5181152f0430967d380d68d804f
#     - name: quay.io/modh/cuda-notebooks@sha256:492c37fb4b71c07d929ac7963896e074871ded506230fe926cdac21eb1ab9db8
#     - name: quay.io/modh/odh-generic-data-science-notebook@sha256:ebb5613e6b53dc4e8efcfe3878b4cd10ccb77c67d12c00d2b8c9d41aeffd7df5
#     - name: quay.io/modh/odh-minimal-notebook-container@sha256:a5a7738b09a204804e084a45f96360b568b0b9d85709c0ce6742d440ff917183
#     - name: quay.io/modh/cuda-notebooks@sha256:2163ba74f602ec4b3049a88dcfa4fe0a8d0fff231090001947da66ef8e75ab9a
#     - name: quay.io/modh/must-gather@sha256:2a5abc16745d72c14c4144d89edbe373d6d56c8b6ce7965fcbed1862519092ab
# operators_to_mirror: []
