---
# The metadata.name for install-config.yaml, and where all other resources are subdomained
cluster_name: disco
# The version of OpenShift to mirror and install
openshift_version: "4.9"

# The following determine the testing scenario that is run, and can mostly be selected
# independently of each other.

# storage_config_backend
# Determines where the metadata is stored for oc-mirror runs. Local metadata is saved on
# disk on the node running the connected oc-mirror workflows. If registry is selected, the
# "disconnected" registry is pushed to directly from the connected node.
# Options:
#   - local
#   - registry
storage_config_backend: registry

# mirror_directly_to_registry
# Determines whether the connected node pushes the mirror into the registry directly with
# oc-mirror, or whether the imageset is mirrored to disk and hauled over the "airgap" for
# publishing from the disconnected bastion.
# The value should be a yaml boolean
mirror_directly_to_registry: true

# registry_type
# Determines what kind of registry is instantiated for the "disconnected" registry.
# Options:
#   - docker_registry
#   - redhat_quay
registry_type: docker_registry

# operators_to_mirror
# Determines which operators should be mirrored, installed, and tested
# The value should be a list of strings from the following options:
#   - foo
#   - compliance_operator
operators_to_mirror:
- foo
