---
# The region you want to deploy into
aws_region: us-west-2

# The metadata.name for install-config.yaml, and where all other resources are subdomained
cluster_name: disco

# The AWS Hosted Zone you will be using for DNS records, and the baseDomain for install-config.yml
cluster_domain: redhat4govaws.io

# Where to save artifacts on the controller while sneakernetting - you can leave these alone if you like
bin_recovery_dir: '{{ output_dir }}/clients'
mirror_data_recovery_dir: '{{ output_dir }}/mirror-data'

# Registry type can be one of redhat_quay or docker_registry
registry_type: redhat_quay

# This will be created on the disconnected mirror registry
registry_admin:
  username: james
  password: some other super secure password
  email: jharmison@redhat.com

# These credentials should be able to log you in to the Terms Based Registry:
# https://access.redhat.com/terms-based-registry/
redhat_username: jharmison
redhat_password: some super secure password

# This is recovered from console.redhat.com for OpenShift installation:
# https://console.redhat.com/openshift/install/aws/installer-provisioned
console_redhat_com_pull_secret: {"auths":{"cloud.openshift.com":{"auth":"b3B=","email":"foo@example.com"},"quay.io":{"auth":"b3B=","email":"foo@example.com"},"registry.connect.redhat.com":{"auth":"NTI=","email":"foo@example.com"},"registry.redhat.io":{"auth":"NTI=","email":"foo@example.com"}}}
